{% extends "layout.html" %}
{% block body %}
<title>Forgot Password</title>
</head>
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for msg in messages %}
    {% if msg == "Successfully! Registered"%}
    <div class="alert alert-success" role="alert">
      {{msg}}
      
    </div>
    {% endif %}
    {% endfor %}
  {% endif %}
  {% endwith %}
  <body class="bg-nav">
  <nav class="navbar">
      <a href="" class="navbar-brand text-light">Plant Disease Detection</a>
  </nav>
  
  <div class="container">
    
    <div class="row">

      <div class="col-md-8">
      
        <h1 class="text-light display-4 mt-100" style="font-size:70px">Check Health of Your Plants by Identifying the Correct Disease</h1>
      </div>
        <div class="col-md-4">
          <div class="card mt-100">
            <div class="card-body">
              
              <form class="form" action="/forgotpassword" method="post">
                <h4 class="text-dark"style="text-align:center;">FORGOT PASSWORD?</h4><br>
                <p>Please enter your email address to reset your account password</p>
                  <div class="form-label-group">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="Email"required autofocus>
                    
                  </div><br>

                  

                <input type="submit" class="btn btn-primary btn-block btn-lg" value="Submit">

                
              </form><br>
              
            </div>
          </div>
        </div>
        
      </div>
    </div>
{% endblock%}
