{% extends "layout.html" %}
{% block body %}
    <title>Profile</title>
    <script>
      function ResetPassword()
      {
        document.forms['profile'].action = '/reset';
        document.forms['profile'].submit();

      }
    </script>
  </head>
  
  <body>
	<nav class="navbar navbar-expand-lg navbar-light bg-nav">
		<a class="navbar-brand text-light" href="home">Plant Disease Detection</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
		  <ul class="navbar-nav">
			<li class="nav-item">
			  <a class="nav-link text-light" href="home">Home</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link text-white active" href="profile"><b>Profile</b> <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light" href="contactus">Contact Us</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light" href="testplant">Test Plant</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light" href="logout">Log Out</a>
			</li>

			
		  </ul>
		</div>
      </nav>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for msg in messages %}
          {% if msg == "Profile Updated"%}
          <div class="alert alert-success" role="alert">
            {{msg}}
            
          </div>
          {% endif %}
          {% if msg == "Request Submitted! Check mail to Reset your Password"%}
          <div class="alert alert-success" role="alert">
            {{msg}}
            
          </div>
          {% endif %}
          
          {% endfor %}
        {% endif %}
        {% endwith %}
        
      <div style="width:400px; margin:0 auto; margin-top:50px; ">
        <h3 class="text-dark"style="text-align:center;">Profile</h3><br>
        <form name="profile" class="form" action="/profile" method="post">
            <div class="form-label-group">
                <label>Name</label>
              <input type="text" id="inputName" class="form-control" value="{{params['Name']}}" name="Name" required autofocus>
              
            </div><br>

            <div class="form-label-group">
                <label>Phone</label>
              <input type="tel" id="inputPhone" class="form-control" value="{{params['Phone']}}" name="Phone" required autofocus>
              
            </div><br>

            <div class="form-label-group">
                <label>Address</label>
              <input type="text" id="inputAddress" class="form-control" value="{{params['Address']}}"  name="Address" required autofocus>
              
            </div><br>

            <div class="form-label-group">
                <label>Email</label>
              <input type="email" id="inputEmail" disabled="" class="form-control" value="{{params['Email']}}" name="Email" required autofocus>
              
            </div><br>

            
            
            

            


          <input type="button" class="btn btn-info btn-block btn-lg" value="Reset Password" onclick="ResetPassword();">
          <input type="submit" class="btn btn-success btn-block btn-lg" value="Update Profile">

          
        </form><br>

        </div>
	
{% endblock%}